.container
    .jumbotron
        h1 PainManager
        p Welcome to PainManager! The most comphrensive and complete chronic pain managment program


    .row
        .col-md-6
            div(ng-include="'/partials/featured-programmes'")

        .col-md-6
            div(ng-include="'/partials/new-programmes'")
