body
  padding-top 90px

.navbar-inner a.brand
  margin-top -5px
  margin-bottom -20px


  h6
    color rgb(119, 119, 119)

footer
  padding-left 15px
  padding-right 15px
  margin-top 20px
  p
    border-top 1px solid #777777
    font xx-small