body
  padding-top 90px

.navbar-header a.navbar-brand
  margin-top -15px
  margin-bottom -20px


  h6
    color rgb(119, 119, 119)

footer
  padding-left 15px
  padding-right 15px
  margin-top 20px
  p
    border-top 3px solid #777777

.navbar-form
  .form-group
    margin-left  10px

  button
    margin-left 10px

