.panel.panel-primary
    .panel-heading.text-center New Pain Managment Programs
    .panel-body
        .row(ng-repeat="programme in programmes | orderBy:'published':true | limitTo:10")
            .col-md-3 {{programme.published | date:'MMM / d / yyyy'}}
            .col-md-9
                a(href="/programmes/{{programme._id}}") {{programme.title}}